* {
  box-sizing: border-box;
  
}

body {
  text-align: center;
}

a {
  color: black;
}

a:hover {
  text-decoration: underline;
}


.btn {
  background-color: #1d9bf0;
  cursor: pointer;
  padding: 10px;
  border: none;
  border-radius: 15px;
  color: white;
}

.btn:hover {
  background-color: #00538a;
  cursor: pointer;
}